@charset "utf-8";

$bluish: #cfe2f3ff;
$primary: $bluish;
$link: darken( $bluish, 40%);

@import "../node_modules/bulma/bulma.sass";

.card-header-title-prefix {
    font-weight: 400;
    font-style: italic;
    padding-right: 4px;
}
.card-header-icon {
    cursor: default;
}
.select, select, form {
    width: 100%;
}
.panel-block {
    padding: 1.5rem;
}
.buttons-area {
    display: flex;
    justify-content: flex-end;
}