@charset "utf-8";

$greenish: #d9ead3ff;
$primary: $greenish;
$link: darken( $greenish, 40%);

@import "../node_modules/bulma/bulma.sass";

add-movie-component {
    width: 100%;
}
.panel-block {
    padding: 1.5rem;
}